.container-dados-h1 {
  text-align: center;
  color: var(--text-color);
  padding-top: 14mm;
}

.container-dados {
  background-color: var(--background-color-home);
}

.container-dados main {
  padding: 80px 0px 120px;
}

.container-dados main {
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.form-dados {
  margin-left: 390px;
  margin-top: 50px;
  display: flex;
}

.label {
  color: var(--text-color);
  padding: 2mm;
}

.input,
.select {
  border-radius: 5px;
  outline: none;
  background: #e2d7f5;
  height: 30px;
  width: 200px;
  padding: 2px 5px;
}

.input-long {
  border-radius: 5px;
  outline: none;
  background: #e2d7f5;
  height: 30px;
  width: 400px;
  padding: 2px 5px;
}

.submit,
.reset {
  background-color: var(--background-color-menu);
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-style: initial;
  border-radius: 5px;
}

.name,
.mail {
  width: 400px;
}

#coluna-1 {
  width: 50%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

#coluna-2 {
  width: 50%;
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
  padding: 5mm;
}

.break2 {
  flex-basis: 100%;
  height: 0;
  padding: 1mm;
}

.dataNasc {
  padding: 0mm;
}
