.container-header-menu {
    width: 100%;
    min-height: 10vh;
    background-color: var(--background-color-menu);
    display: flex;
    align-items: center;
}

.container-ul-header-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: var(--text-title-header);
    list-style: none;
}

.ul-li-header-menu {
    height: 100%;
}

.ul-li-header-menu:nth-child(1) {
    height: 100%;
    width: 20%;
}

.ul-li-header-menu:nth-child(1) img {
    width: 70%;
    height: 90%;
}

.ul-li-header-menu:nth-child(2) {
    width: 25%;
}

.ul-li-header-menu:nth-child(3) {
    width: 40%;
}

.ul-li-header-menu .ul-item {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.ul-li-header-menu .ul-item li .header-p {
	display: flex;
    flex-direction: column;
    cursor: pointer;
}

.ul-li-header-menu .ul-item li p:after {
    content:"";
    position: relative;
    border-radius: 20px;
    width: 20%;
    height: 3px;
    background-color: var(--text-title-header);
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

.ul-li-header-menu .ul-item li p:hover:after {
    opacity: 1;
    width: 100%;
    -webkit-transition: all 3s;
    transition: all 3s;
}


.ul-li-header-menu .ul-item .li-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ul-li-header-menu .ul-item .li-item .user-icon-label {
    display: flex;
    align-items: ceter;
    justify-content: center;
}

.ul-li-header-menu .ul-item .li-item img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
}

.li-item.li-item-account {
    position: relative;
}

.label-entrar {
    cursor: pointer;
}

.li-item.li-item-account ul {
    display: none;
}

.li-item.li-item-account input:checked ~ ul {
    z-index: 10;
    display: block;
    position: absolute;
    width: 163%;
    top: 7.5vh;
    background-color: var(--background-color-menu);

}

.li-item.li-item-account ul li {
    height: 100%;
    list-style: none;
    text-align: center;
    background-color: var(--background-color-menu);
    padding: 10px 5px;
    cursor: pointer;
}

.li-item.li-item-account ul li:hover {
    background-color: var(--background-color-menu-hover);
}


/* toogle change color */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-item-card);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-color-menu);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-search-bar);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--background-item-card);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* menu hamburguer */

  .li-item.menu {
      width: 50px;
      height: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
  }

  .li-item.menu:hover span:nth-child(1){
      width: 60%;
  }
  .li-item.menu:hover span:nth-child(2){
      width: 90%;
  }
  .li-item.menu:hover span:nth-child(3){
      width: 70%;
  }

  .li-item.menu span {
      width: 100%;
      background: var(--text-color);
      height: 12%;
      cursor: pointer;
      transition: all ease-in 1s;
      border-radius: 7px;
  }

  .ul-item.responsive,
  .ul-li-header-menu.responsive {
      display: flex;
      width: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      background-color: var(--background-color-menu);
  }

  .ul-li-header-menu.responsive li {
      width: 100%;
      height: 50px;
      justify-content:center;
      margin-left: 20px;
  }

  .ul-li-header-menu.responsive li label + p {
      margin-left: 20px;
  }


@media (max-width: 1120px) {
    .li-item.li-item-account input:checked ~ ul {
        width: 100%;
        left: -10px;
    }
    .li-item.li-item-account ul li {
        padding: 10px 0;
        margin: 0;
    }
}