.container-historico {
  background-color: var(--background-color-home);
}
h1 {
    text-align: center;
    padding: 7mm;
  }
  
  table {
    padding: 7mm;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: var(--text-color)
  }
  
  tr:nth-child(even) {
    background-color: var(--background-item-card-title-default-hover);
    text-decoration-color: #dddddd;
  }
  footer {
    padding-top: 7mm;
  }
  .container-historico {
    min-height: 800px;
  }