.container-home {
    background-color: var(--background-color-home);
}

.container-home main {
    padding: 80px 0px 120px;
}

.container-checkout{
    background-color: var(--background-color-menu);
    width: 80%;
    min-height: 500px;
    border-radius: 20px;
    padding: 20px 45px;
}

.container-checkout h1 {
    text-align: center;
    font-weight: 200;
    font-size: 27px;
    color: var(--color-search-bar);
    padding-top: 30px;
}

.container-checkout h3 {
    display: contents;
    font-weight: 200;
    color: var(--color-search-bar);
}

.container-checkout .linkalter{
    margin-left: 6em;
    color: var( --text-link-color);
    font-size: 11px;
}

main{
    display: flex;
    justify-content: center;
}

.container-checkout .detalhe-interno {
    display: flex;
    justify-content: space-between;
}

.container-checkout .detalhe-interno.plan {
    flex-direction: column;
}

.item {
    padding-top: 3em;
}

.item .detalhe {
    padding-top: 10px;
    display: flex;
}
.item .detalhe .segundoItem{
    margin-left: 60px;
}

.item .detalhe .segundaLinha{
    margin-top: -19px;
}

.detalhe p {
    padding-left: 5px;
    color: var(--color-search-bar);
}

.detalhe-interno input {
    margin: -13px;
}

.detalhe .Dropdown-control {
    padding: 4px 43px 4px 5px;
    font-size: 12px;
    margin-left: 5px;
    background-color: var(--background-color-menu);
    color: var(--color-search-bar);
    border: none;
}

.detalhe .Dropdown-option {
    font-size: 12px;
}

.detalhe .Dropdown-arrow {
    top: 8px;
}

.checkout-container-botoes  button {
    padding: 6px 20px;
    border-radius: 6px;
    border: none;
    color: var(--background-color-menu);
}

.checkout-container-botoes {
    display: flex;
    justify-content: space-around;
    padding-top: 21px;
}

.container-home main .container-cards-cars-home{
    width: 100%;
    min-height: 700px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-auto-rows: auto;
    grid-row-gap: 50px;
    grid-column-gap: 20px;

    justify-content: center;
    align-items: center;
}

.checkout-container-botoes button {
    margin-top: 70px;
    width: 40%;
    min-width: 150px;
    height: 50px;
    cursor: pointer;
    border: 2px solid var(--background-login);
    border-radius: 7px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    position: relative;
    transition: all ease-in 500ms;
}

.checkout-container-botoes button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background-color: rgba(204, 191, 174, 0.274);
    bottom: 0;
    left: 0;
    transition: all ease-in 400ms;
}

.checkout-container-botoes button:hover::after {
    height: 100%;
}

.filial {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
}

.container-checkout .optionOut {
    padding-top: 60px;
    padding-bottom: 0;
}


@media(max-width: 1000px) {
    .container-home main .container-cards-cars-home {
        grid-template-columns: repeat(2, 300px);
    }
}

@media(max-width: 600px) {
    .container-home main  .container-cards-cars-home{
        grid-template-columns: repeat(1, 260px);
    }
    .filial {
        flex-direction: column;
    }
}